#mainLogo{
        /* width: 90px;  */
        height: 40px; 
        object-fit: cover;
        /* object-position: 90% 70%;  */
        
}
#caro-img img{
        height: 50vh;
}
#photo-car{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
}
#photo-car .card{
        max-width: 25rem;
        min-width: 20rem;
        margin: 1rem ;
        

}
#photo-car .card .card-body h5{
        border-left: 16px solid orange;
        padding-left: 1rem;
}
#photo-car img{
        object-fit: cover;
        max-height: 15rem;
}